body{
    background-color: #F3F5FC;
}

.logo{
   position:absolute;
   top: 40px;
   left: 40px;
}

.encriptador{
    display: inline-block;
    position: relative;
    background: blue;
}

.text-area{
    display: inline-block;
    position: relative;
}

.botones-encriptado{
    position: absolute;
}

.caja-de-texto{
    display: inline-block;
    position:relative;
}

#boton-copiar {
    display: none;
}
