body{
    background-color: #F3F5FC;
}

.logo{
   width:120px;
   position:absolute;
   top: 40px;
   left: 40px;
}

.encriptador{
    display: inline-block;
    position: absolute;
    top: 168px;
    left: 240px;
}

.caja-de-texto{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 1000px;
}




#boton-copiar {
    display: none;
}

footer{
    position: absolute;
    top: 588px;
}