* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter";
 }
 body{
    background:#dbe2f8;
    /*background: #dbe2f8;*/
 }

.logo{
    display: inline-block;
    padding-top: 20px;
 }

 .contenedor{
   width: auto; 
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items:center;
   margin: 0px 0px 2% 6%;
 }
 .escribirContenedor{
    width:64%;
    height: 490px;
    align-content: end;
    margin-right: 10px;
 }


.text-area{
    width: 98%;
    height: 400px;
    padding: 40px;
    border-radius: 30px;
    outline: none;
    border:none;
    resize: none;
    font-family: "Inter", sans-serif;
    font-size: 27px;
    font-weight: 350;
    color:#0A3871;
    background-color:rgba(255,255,255,0.5) ;
}

::placeholder{
    font-size: 27px;
    font-weight: 400; 
    color:#0A3871;
}

.escribirContenedor img{
    display: inline;
    width: 18px;
}

.escribirContenedor h6{
    display: inline;
    margin-left: 5px;
    font-size: 13px;
}

.botones{
    margin-top: 7px;
}

.escribirContenedor button, .copiar{
    border-radius: 24px;
    padding:15px;
    width: 40%;
    border:1px solid #0A3871;
    text-align: center;
    cursor:pointer;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.btn-encriptar{
    background-color: #0A3871;
    color: antiquewhite;
    margin-left: 0;
}

.btn-deseencriptar{
    background-color: #d7e3f0;
    color:#0A3871;
    margin-left: 16%;
}



.mensajeContenedor{
    background-color: white;
    background-image: url(/imagenes/munieco.png);
    background-position:center;
    background-size: 290px;
    background-repeat: no-repeat;
    border-radius: 24px;
    width:34%;
    height: 600px;
    align-content:flex-end;
    text-align: center;

 }

.mensaje{
    text-align: center;
    display: inline;
 }

 .mensaje > p:first-child{
   font-weight:650;
    font-size:20px;
    line-height:28.8px;
 }

 .mensaje > p:nth-child(2){
    font-weight:400;
    font-size:15px;
    line-height:24px;
}

.copiar{
    margin-top: 7%;
    width:60%;
    margin-bottom: 56px;
    display:none;
 }

/*------------Media Querys------*/
@media(max-width: 768px){
    .logo{
        width:90px ;
        padding-bottom: 10px;
    }
    .escribirContenedor, .mensajeContenedor{
        width: 100%;
    }
}

footer{
    background-color: #0A3871;
    padding: 60px;
    text-align: center;
    font-family: "Inter", sans-serif;
    color:#FFFFFF;
    font-size: 13px;
}





/*#mensaje{
    background: #F3F5FC;
    background: white;
    background-image: url(/imagenes/munieco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
}


